.rz-contact
  .rz-contact__item.head
    Zenit
    %span
      spółka z o. o.
  .rz-contact__item
    90-318 Łódź
    %br
    ul. H. Sienkiewicza 82/84
  .rz-contact__item
    tel. 42 66 30 601
  .rz-contact__item
    =mail_to 'sekretariat@zenit.pl'
  .rz-contact__item
    REGON 731632889
  .rz-contact__item
    NIP 8291626799
  %a{href: '#'}
    %img.fb-icon{src: 'assets/fb_icon.png'}
