.rz-news
  .scrollbar
  .rz-news__wrapper
    .rz-news__article
      .title
        title 1
      .content
        content content content content content content content content content content content content content content content content content content content content content content
    .rz-news__article
      .title
        title 2
      .content
        content content content content content content content content content content content
    .rz-news__article
      .title
        title 3
      .content
        content content content content content content content content content content content
    .rz-news__article
      .title
        title 4
      .content
        content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content
    .rz-news__article
      .title
        title 1
      .content
        content content content content content content content content content content content
    .rz-news__article
      .title
        title 2
      .content
        content content content content content content content content content content content content content content content content content content content content content content
    .rz-news__article
      .title
        title 3
      .content
        content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content content
    .rz-news__article
      .title
        title 4
      .content
        content content content content content content content content content content content
