.rz-slider.js-rz-slider
  .rz-slider__next
    %span.glyphicon.glyphicon-menu-right{"aria-hidden" => "true"}
  .rz-slider__prev
    %span.glyphicon.glyphicon-menu-left{"aria-hidden" => "true"}
  %img.rz-slider__slide{src: 'assets/rose-1.jpg'}
  %img.rz-slider__slide{src: 'assets/orchid-1.jpg'}
