= render partial: 'layouts/menu', locals: { home: false }
.zen-space.orchid
  .zen-space__head
    Golden Orchid
    %object.brush{type: 'image/svg+xml', data: 'brush.svg', width: '100px', height: '10px'}
  .zen-space__title
    Wolne lokale
  .zen-space__details
    .title
      Poziom
      .level 0
      .level I
    .title
      Metraż
      .area
        32m
        %sup> 2
      .area
        460m
        %sup> 2
  .zen-space__total
    .title
      Powierzchnia całkowita budynku
    .value
      4600m
      %sup> 2
.zen-space.rose
  .zen-space__head
    Crimson Rose
  .zen-space__title
    Wolne lokale
  .zen-space__details
    .title
      Poziom
      .level I
      .level II
      .level III
      .level IV
    .title
      Metraż
      .area
        25m
        %sup> 2
      .area
        60m
        %sup> 2
      .area
        40m
        %sup> 2
      .area
        25m
        %sup> 2
  .zen-space__total
    .title
      Powierzchnia całkowita budynku
    .value
      4400m
      %sup> 2
.zen-space.iris
  .zen-space__head
    Lavender Iris
  .zen-space__title
    Wolne lokale
  .zen-space__details
    .title
      Poziom
      .level 0
    .title
      Metraż
      .area
        305m
        %sup> 2
  .zen-space__total
    .title
      Powierzchnia całkowita budynku
    .value
      1172m
      %sup> 2
  .zen-space__description
    Lavender Iris jest budynkiem w renowacji. Po podpisaniu umowy lokal może zostać wyremontowany w ustalonym terminie.
.zen-space.lily
  .zen-space__head
    Crystal Lily
  .zen-space__description
    Inwestycja planowana. W przypadku podpisania umowy istnieje możliwość przyspieszenia prac i oddania gotowego lokalu w uzgodnionym terminie. Zapraszamy do kontaktu.
.zen-space.lotus
  .zen-space__head
    Azure Lotus
  .zen-space__description
    Inwestycja planowana. W przypadku podpisania umowy istnieje możliwość przyspieszenia prac i oddania gotowego lokalu w uzgodnionym terminie. Zapraszamy do kontaktu.

