@import url(https://fonts.googleapis.com/css?family=Cinzel:400,700|Cormorant+Garamond:400,700|Cormorant+Unicase:400,600);

body {
  font-family: $ff-base;
  font-size: $fs-base;
  -webkit-font-smoothing: antialiased;
}

b,
strong {
  font-weight: $fw-bold;
}

button,
input,
optgroup,
select,
textarea {
  font-family: $ff-base;
}

h2 {
  margin: 0;
  text-align: center;
  font-size: $fs-title;
  box-sizing: border-box;

  &.md-left {
    @media #{$md-up} {
      width: 40%;
    }
  }
}
