.zen-stage
  .zen-stage__curtain.left
    .zen-stage__curtain__teaser
      Super inwestycja! Sama się buduje, wiąże krawaty, liczy pole trójkąta.
    .zen-stage__curtain__button
      więcej
  .zen-stage__curtain.right
    .zen-stage__curtain__teaser
      Super inwestycja! Sama się buduje, wiąże krawaty, liczy pole trójkąta.
    .zen-stage__curtain__button
      więcej
  .zen-curtain__center
