=render partial: 'layouts/navbar', locals: {location: 'home'}
.zen-slider.js-slider
  %img.zen-slider__image.js-slide{src: 'assets/zenit-1.jpg'}
  %img.zen-slider__image.js-slide{src: 'assets/zenit-2.jpg'}
  %img.zen-slider__image.js-slide{src: 'assets/zenit-3.jpg'}
  %img.zen-slider__image.js-slide.active{src: 'assets/zenit-4.jpg'}
.zen-showcase
  %h2 NASZE BUDYNKI
  .zen-showcase__box.lily
    %img{src: 'assets/button-crystal-lily.jpg'}
    %p
      Crystal
      %br Lily
  .zen-showcase__box.rose
    %img{src: 'assets/button-crimson-rose.jpg'}
    %p Crimson Rose
  .zen-showcase__box.orchid
    %img{src: 'assets/button-golden-orchid.jpg'}
    %p &nbsp&nbspGolden Orchid
  .zen-showcase__box.iris
    %img{src: 'assets/button-lavender-iris.jpg'}
    %p Lavender Iris&nbsp&nbsp
  .zen-showcase__box.lotus
    %img{src: 'assets/button-azure-lotus.jpg'}
    %p Azure Lotus
