=render partial: 'layouts/navbar', locals: {location: 'home'}
.zen-slider.js-slider
  %img.zen-slider__image.js-slide{src: 'assets/zenit-1.jpg'}
  %img.zen-slider__image.js-slide{src: 'assets/zenit-2.jpg'}
  %img.zen-slider__image.js-slide{src: 'assets/zenit-3.jpg'}
  %img.zen-slider__image.js-slide.active{src: 'assets/zenit-4.jpg'}
=render partial: 'layouts/showcase'
