=render partial: 'layouts/menu', locals: {home: true}
.rz-onepage
  .rz-onepage__page.home.start
    .rz-onepage__page__head
      .logo
      .title
        Zenit Blossom Center
    .rz-onepage__page__content{href: root_path}
      Kwitnący ogród
      %br
      w centrum miasta...
  .rz-onepage__page.spaces.next{'data-link' => 'spaces'}
    .rz-onepage__page__head
      .logo
      .title
        Zenit Blossom Center
    .rz-onepage__page__content
      Wolne powierzchnie
      %br
      w kwitnącym centrum.
    .rz-onepage__page__link-button
      %a{href: spaces_path} więcej
  .rz-onepage__page.buildings.next{'data-link' => 'buildings'}
    .rz-onepage__page__head
      .logo
      .title
        Zenit Blossom Center
    .rz-onepage__page__content
      Wciąż się rozrastamy
    .rz-onepage__page__link-button
      %a{href: buildings_path} więcej
  .rz-onepage__page.history.next{'data-link' => 'history'}
    .rz-onepage__page__head
      .logo
      .title
        Zenit Blossom Center
    .rz-onepage__page__content
      Mury pełne
      %br
      historycznych wartości...
    .rz-onepage__page__link-button
      %a{href: timeline_path} więcej
  .rz-onepage__page.contact.next{'data-link' => 'contact'}
    .rz-onepage__page__head
      .title
        Zenit Blossom Center
    .rz-onepage__page__content
      Scisłe centrum Łodzi
      %br
      naszą lokalizacją...
    .rz-onepage__page__link-button
      %a{'data-modal' => 'contact'} kontakt
    =render partial: 'components/contact'
  .rz-onepage__page.news.next{'data-link' => 'news'}
    .rz-onepage__page__content
      =render partial: 'components/news', locals: { news: @news }
