.zen-header

.zen-navbar
  .zen-navbar__button Historia
  .zen-navbar__button O nas
  .zen-navbar__button.highlight
    %p
      Powierzchnie do
      %br wynajęcia
    .zen-navbar__logo
      %img{src: 'assets/logo.png'}
  .zen-navbar__button Inwestycja
  .zen-navbar__button Kontakt
.zen-slider.js-slider
  %img.zen-slider__image.js-slide{src: 'assets/zenit-1.jpg'}
  %img.zen-slider__image.js-slide{src: 'assets/zenit-2.jpg'}
  %img.zen-slider__image.js-slide{src: 'assets/zenit-3.jpg'}
  %img.zen-slider__image.js-slide.active{src: 'assets/zenit-4.jpg'}
.zen-showcase
  .zen-showcase__box.lily
    %img{src: 'assets/button-Crystal-Lily.png'}
    %p Crystal Lily
  .zen-showcase__box.rose
    %img{src: 'assets/button-Crimson_Rose.png'}
    %p Crimson Rose
  .zen-showcase__box.orchid
    %img{src: 'assets/button-Golden_Orchid.jpg'}
    %p Golden Orchid
  .zen-showcase__box.iris
    %img{src: 'assets/Button-Lavender-Iris.png'}
    %p Lavender Iris
  .zen-showcase__box.lotus
    %img{src: 'assets/button-Azure_Lotus.png'}
    %p Azure Lotus
