= render partial: 'layouts/menu', locals: { home: false }
.zen-container.full-width
  %section.cd-timeline.js-cd-timeline
    .cd-timeline__container
      .cd-timeline__block.js-cd-block
        .cd-timeline__img.cd-timeline__img--picture.js-cd-img
          %img{alt: "2008", :src => "assets/2008-orchid.jpg"}/
        / cd-timeline__img
        .cd-timeline__content.js-cd-content{style: "background: url('assets/2008-orchid.jpg') center no-repeat;background-size: cover"}
          %h2 Golden Orchid 2008
          %p
            %img{alt: "2008", :src => "assets/2008-orchid.jpg", style: 'opacity: 0;'}
          %span.cd-timeline__date 2008
      .cd-timeline__block.js-cd-block
        .cd-timeline__img.cd-timeline__img--picture.js-cd-img
          %img{alt: "2008", :src => "assets/2008-orchid-2.jpg"}/
        / cd-timeline__img
        .cd-timeline__content.js-cd-content{style: "background: url('assets/2008-orchid-2.jpg') center no-repeat;background-size: cover"}
          %h2 Golden Orchid 2008
          %p
            %img{alt: "2008", :src => "assets/2008-orchid-2.jpg", style: 'opacity: 0;'}
          %span.cd-timeline__date 2008
      .cd-timeline__block.js-cd-block
        .cd-timeline__img.cd-timeline__img--picture.js-cd-img
          %img{alt: "2003", :src => "assets/2003-rose.jpg"}/
        / cd-timeline__img
        .cd-timeline__content.js-cd-content{style: "background: url('assets/2003-rose.jpg') center no-repeat;background-size: cover"}
          %h2 Crimson Rose 2003
          %p
            %img{alt: "2003", :src => "assets/2003-rose.jpg", style: 'opacity: 0;'}
          %span.cd-timeline__date 2003
      .cd-timeline__block.js-cd-block
        .cd-timeline__img.cd-timeline__img--picture.js-cd-img
          %img{alt: "2003", :src => "assets/2003-orchid.jpg"}/
        / cd-timeline__img
        .cd-timeline__content.js-cd-content{style: "background: url('assets/2003-orchid.jpg') center no-repeat;background-size: cover"}
          %h2 Golden Orchid 2003
          %p
            %img{alt: "2003", :src => "assets/2003-orchid.jpg", style: 'opacity: 0;'}
          %span.cd-timeline__date 2003
      .cd-timeline__block.js-cd-block
        .cd-timeline__img.cd-timeline__img--picture.js-cd-img
          %img{alt: "2003", :src => "assets/2003-rose-1.jpg"}/
        / cd-timeline__img
        .cd-timeline__content.js-cd-content{style: "background: url('assets/2003-rose-1.jpg') center no-repeat;background-size: cover"}
          %h2 Crimson Rose 2003
          %p
            %img{alt: "2003", :src => "assets/2003-rose-1.jpg", style: 'opacity: 0;'}
          %span.cd-timeline__date 2003
      .cd-timeline__block.js-cd-block
        .cd-timeline__img.cd-timeline__img--picture.js-cd-img
          %img{alt: "2003", :src => "assets/2003-orchid-1.jpg"}/
        / cd-timeline__img
        .cd-timeline__content.js-cd-content{style: "background: url('assets/2003-orchid-1.jpg') center no-repeat;background-size: cover"}
          %h2 Golden Orchid 2003
          %p
            %img{alt: "2003", :src => "assets/2003-orchid-1.jpg", style: 'opacity: 0;'}
          %span.cd-timeline__date 2003
      .cd-timeline__block.js-cd-block
        .cd-timeline__img.cd-timeline__img--picture.js-cd-img
          %img{alt: "2003", :src => "assets/2003-orchid-2.jpg"}/
        / cd-timeline__img
        .cd-timeline__content.js-cd-content{style: "background: url('assets/2003-orchid-2.jpg') center no-repeat;background-size: cover"}
          %h2 Golden Orchid 2003
          %p
            %img{alt: "2003", :src => "assets/2003-orchid-2.jpg", style: 'opacity: 0;'}
          %span.cd-timeline__date 2003
