=render partial: 'layouts/navbar', locals: {location: 'buildings'}
.zen-container.full-width
  %h2.md-left
    =building
  .zen-buildings
    .zen-slider.js-slider
      %img.zen-slider__image.js-slide.active{src: "/assets/orchid-1.jpg"}
      %img.zen-slider__image.js-slide{src: "/assets/orchid-2.jpg"}
    .zen-infobars.js-infobar
      .zen-infobars__bar
        .zen-infobars__bar__title
          Opis Budynku
        .zen-infobars__bar__details
          %p
            lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum
      .zen-infobars__bar
        .zen-infobars__bar__title
          Wolne powierzchnie
        .zen-infobars__bar__details
          %p
            lorem ipsum
      .zen-infobars__bar
        .zen-infobars__bar__title
          Rzuty powierzchni
        .zen-infobars__bar__details
          %p
            lorem ipsum
  =render partial: 'layouts/showcase', locals: {exclude: building}
