=render partial: 'layouts/navbar', locals: {location: 'buildings'}
=render partial: 'layouts/modal'
.zen-container.full-width
  .zen-gates
    .zen-gates__title
      %img{src: 'assets/logo.png'}
      Zenit Blossom Center
    .zen-gates__revealable.lotos
      =render partial: 'buildings/details', locals: {building: 'lotus'}
      %span.top-left
        Azure
      %span.top-right
        Lotus
      %span.bot
        Komunikacja
    .zen-gates__revealable.lily
      =render partial: 'buildings/details', locals: {building: 'lily'}
      %span.top-left
        Crystal
      %span.top-right
        Lily
      %span.bot
        Kreatywność
    .zen-gates__revealable.orchid
      =render partial: 'buildings/details', locals: {building: 'orchid'}
      %span.top-left
        Golden
      %span.top-right
        Orchid
      %span.bot
        Luksus
    .zen-gates__revealable.rose
      =render partial: 'buildings/details', locals: {building: 'rose'}
      %span.top-left
        Crimson
      %span.top-right
        Rose
      %span.bot
        Pasja
    .zen-gates__revealable.iris
      =render partial: 'buildings/details', locals: {building: 'iris'}
      %span.top-left
        Lavender
      %span.top-right
        Iris
      %span.bot
        Styl
