=render partial: 'layouts/navbar', locals: {location: 'buildings'}
.zen-container
  .zen-gates
    .zen-gates__title
      %img{src: 'assets/logo.png'}
      Zenit Blossom Center
    .zen-gates__revealable.lotos
      %span.top-left
        Azure
      %span.top-right
        Lotus
      %span.bot
        Komunikacja
    .zen-gates__revealable.lily
      %span.top-left
        Crystal
      %span.top-right
        Lily
      %span.bot
        Kreatywność
    .zen-gates__revealable.orchid
      %span.top-left
        Golden
      %span.top-right
        Orchid
      %span.bot
        Luksus
    .zen-gates__revealable.rose
      %span.top-left
        Crimson
      %span.top-right
        Rose
      %span.bot
        Pasja
    .zen-gates__revealable.iris
      %span.top-left
        Lavender
      %span.top-right
        Iris
      %span.bot
        Styl
