// definitions
$color-white: #fff;
$color-black: #000;
$color-teal: #80ffff;
$color-deep-red: #cc0000;
$color-azure: #0000b3;
$color-crystal: #99ddff;
$color-golden: #e6ac00;
$color-crimson: #990000;
$color-lavender: #b366ff;


// global
$color-primary: $color-white;
$color-highlight: $color-teal;
$color-error: $color-deep-red;

// backgrounds
$bg-color: $color-white;

// text
$text-color-base: $color-black;
