// definitions
$color-white: #fff;
$color-black: #000;
$color-teal: #80ffff;
$color-deep-red: #cc0000;

// global
$color-primary: $color-white;
$color-highlight: $color-teal;
$color-error: $color-deep-red;

// backgrounds
$bg-color: $color-white;

// text
$text-color-base: $color-black;
