$ff-base: 'Cormorant Garamond', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$ff-deco: 'Cinzel Decorative', cursive;

$fw-regular: 400;
$fw-bold: 700;

$fs-title-xl: 130px;
$fs-title-lg: 94px;
$fs-title: 58px;
$fs-header-lg: 44px;
$fs-header: 40px;
$fs-header-md: 32px;
$fs-header-sm: 28px;
$fs-lg: 22px;
$fs-md: 20px;
$fs-sm: 18px;

$fs-base: $fs-md;
