$ff-base: 'Cormorant Garamond', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$ff-deco: 'Cinzel Decorative', cursive;

$fw-regular: 400;
$fw-bold: 700;

$fs-title: 58px;
$fs-header-lg: 44px;
$fs-header: 40px;
$fs-header-sm: 28px;
$fs-lg: 16px;
$fs-md: 14px;
$fs-sm: 12px;

$fs-base: $fs-md;
