.zen-contact-form {
  float: left;
  width: 100%;
  box-sizing: border-box;

  @media #{$lg-up} {
    padding: 50px;
    width: 50%;
  }

  &__field {
    display: block;
    margin: 10px auto;
    width: 90%;

    @media #{$lg-up} {
      margin: 20px auto;
      width: 500px;
    }
  }

  &__button {
    display: block;
    margin: auto;
    width: 100px;
  }
}
