.zen-gates {
  display: flex;
  flex-direction: column;
  font-size: $fs-header;
  position: absolute;
  width: 100%;

  @media #{$lg-up} {
    flex-direction: row;
    align-items: stretch;
    height: calc(100% - 71px);
  }

  &__title {
    display: none;
    position: absolute;
    font-size: $fs-title-xl;
    position: absolute;
    top: 55%;
    width: 100%;
    text-align: center;

    > img {
      position: absolute;
      bottom: 55%;
      left: 50%;
      height: 30vh;
      min-height: 200px;
      max-height: 310px;
      transform: translate(-50%, -50px);
    }

    @media #{$lg-up} {
      display: block;
    }
  }

  &__revealable {
    position: relative;
    display: block;
    margin-top: 50px;
    width: 100%;
    height: 80vh;
    min-height: 600px;
    max-height: 900px;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      clip-path: polygon(0 25px, 100% 0, 100% calc(100% - 55px), 0 100%);
      transition: all .5s;
    }

    &::after {
      content: '';
      position: absolute;
      bottom: 50%;
      left: 0;
      width: 100%;
      height: 140px;
      transform: translate(0, 14px);
      background: $color-white;
      opacity: .5;
      transition: opacity .5s;
      z-index: 0;

      @media #{$lg-up} {
        display: none;
      }
    }

    &:hover {
      &::after {
        opacity: .8;
      }
    }

    @media #{$lg-up} {
      float: left;
      margin: 0;
      padding-top: 80px;
      width: 20%;
      height: unset;
      min-height: unset;
      max-height: unset;
      overflow: hidden;

      &::before {
        clip-path: polygon(0 30%, 100% 70%, 100% 70%, 0 30%);

        @supports not (clip-path: polygon(0 0, 0 0, 0 0, 0 0)) {
          opacity: 0;
        }
      }

      &:hover {

        &::before {
          clip-path: polygon(0 0, 100% 0, 100% calc(100% - 85px), 0 calc(100% - 35px));

          @supports not (clip-path: polygon(0 0, 0 0, 0 0, 0 0)) {
            opacity: 1;
          }
        }

        > span {
          @media #{$lg-up} {
            &.top-left {
              left: 145%;
            }

            &.top-right {
              left: -40%;
            }

            &.bot {
              bottom: 15px;
              opacity: 1;
            }
          }
        }
      }
    }

    &.lotos {
      text-shadow: 0 0 1px $color-azure;

      &:hover {
        > span {
          @media #{$lg-up} {
            &.bot {
              color: $color-azure;
            }
          }
        }
      }

      &::before {
        background: url('zenit-1.jpg') center;
        background-size: cover;
      }
    }

    &.lily {
      text-shadow: 0 0 1px $color-crystal;

      &:hover {
        > span {
          @media #{$lg-up} {
            &.bot {
              color: $color-crystal;
            }
          }
        }
      }

      &::before {
        background: url('zenit-2.jpg') center;
        background-size: cover;
      }
    }

    &.orchid {
      text-shadow: 0 0 1px $color-golden;

      &:hover {
        > span {
          @media #{$lg-up} {
            &.bot {
              color: $color-golden;
            }
          }
        }
      }

      &::before {
        background: url('zenit-3.jpg') center;
        background-size: cover;
      }
    }

    &.rose {
      text-shadow: 0 0 1px $color-crimson;

      &:hover {
        > span {
          @media #{$lg-up} {
            &.bot {
              color: $color-crimson;
            }
          }
        }
      }

      &::before {
        background: url('zenit-4.jpg') center;
        background-size: cover;
      }
    }

    &.iris {
      text-shadow: 0 0 1px $color-lavender;

      &:hover {
        > span {
          @media #{$lg-up} {
            &.bot {
              color: $color-lavender;
            }
          }
        }
      }

      &::before {
        background: url('zenit-2.jpg') center;
        background-size: cover;
      }
    }

    > span {
      font-size: $fs-title-lg;
      display: inline-block;
      position: absolute;
      left: 50%;
      transition: all .3s, bottom .8s;
      z-index: 1;

      &.top-left {
        bottom: 50%;
        transform: translate(-70%, -30px);
      }

      &.top-right {
        bottom: 50%;
        transform: translate(-20%, 30px);
      }

      &.bot {
        display: none;

        @supports not (clip-path: polygon(0 0, 0 0, 0 0, 0 0)) {
          background: rgba(255, 255, 255, 0.6);
        }
      }

      @media #{$lg-up} {
        font-size: $fs-header;

        &.top-left {
          bottom: 35px;
          transform: translate(-70%, 0);
        }

        &.top-right {
          bottom: 5px;
          transform: translate(-20%, 0);
        }

        &.bot {
          display: inline-block;
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          text-align: center;
          text-shadow: 0 0 0 $color-white;
          opacity: 0;
        }
      }
    }
  }
}
