.zen-menu {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  right: 0;
  background-color: $color-white;
  border-bottom-left-radius: 40px;
  z-index: 2;
  transition: width .5s;

  &__nav:first-child {
    margin-top: 0;
    z-index: 2;
  }

  &__nav {
    position: relative;
    padding: 15px;
    margin-top: -100%;
    box-sizing: border-box;
    border-bottom-left-radius: 40px;
    background-color: $color-white;
    transition: margin .5s,;

    img {
      height: 80px;
      transform: scale(1);
      transition: transform .3s;
      z-index: 1;

      @media #{$lg-up} {
        height: 60px;
      }
    }

    .label {
      position: absolute;
      top: 50%;
      left: 0%;
      padding: 2px 6px;
      transform: translate(0, -50%);
      border-radius: 20px;
      background-color: $color-white;
      z-index: -1;
      transition: transform .3s;
      font-family: $ff-deco;
      font-size: $fs-lg;
    }

    &:hover {
      img {
        &:hover {
          transform: scale(1.2);
        }
      }

      .label {
        transform: translate(-110%, -50%);
      }
    }
  }

  &.open &__nav {
    margin-top: 0;

    .label {
      transform: translate(-110%, -50%);

      @media #{$lg-up} {
        transform: translate(0, -50%);
      }
    }

    &:hover {

      .label {
        @media #{$lg-up} {
          transform: translate(-110%, -50%);
        }
      }
    }
  }
}
