.zen-navbar {
  position: fixed;
  top: 50px;
  width: 100%;
  line-height: 70px;
  font-size: $fs-header-lg;
  text-align: center;
  transition: all 0.5s ease;
  &__button {
    float: left;
    width: 19%;
    height: 70px;
    background: url('marble.jpg') no-repeat fixed;
    background-size: 100%;
    border-bottom: 2px black solid;
    transition: all 0.5s ease;
    &.highlight {
      float: left;
      width: 24%;
      height: 100px;
      position: relative;
      font-weight: bold;
      p {
        position: absolute;
        top: 23px;
        margin: 0;
        padding: 0;
        width: 100%;
        line-height: 30px;
        z-index: 1;
      }
    }
    &:hover {
      cursor: pointer;
      text-shadow: 0px 0px 4px #80ffff;
      box-shadow: inset 10px 40px 90px -60px #80ffff;
      color: #006666;
    }
  }
  &__logo {
    position: relative;
    z-index: 0;
    top: 100%;
    width: 80%;
    height: 200px;
    margin: 0 0 0 10%;
    border-radius: 0 0 50% 50%;
    background: url('marble.jpg') no-repeat fixed;
    background-size: 100%;
    border-bottom: 2px black solid;
    transition: all 0.5s ease;
    img {
      width: 200px;
      transition: all 0.5s ease;
    }
  }
  &.compacted {
    top: 0px;
  }
  &.compacted &__logo {
    top: 50%;
    height: 100px;
    img {
      opacity: 0;
    }
  }
}
