@mixin glow($color) {
  background-image: linear-gradient(
      rgba($color, 0) 0%,
      rgba($color, .22) 33%,
      rgba($color, .22) 66%,
      rgba($color, 0) 100%
    );
}

@mixin brush($file-color) {
  content: '';
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translate(-50%, 0);
  background-image: url($file-color);
  background-size: 100% 100%;
  width: 90%;
  max-width: 700px;
  height: 20px;
}

.zen-space {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 50px 0;
  font-family: $ff-base-bold;
  font-size: $fs-header-sm;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: url('full-bloom.png');
    z-index: -1;
  }

  > div {
    margin-bottom: 50px;
  }

  &__head {
    width: 100%;
    text-align: center;
    font-size: $fs-header-lg;

    .brush {
      width: 100px;
      height: 10px;
    }
  }

  &__title {
    flex-grow: 1;
  }

  &__details {
    flex-grow: 2;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    .level {
      page-break-before: always;
    }

    .area {
      font-weight: 600;
    }

    .level, .area {
      text-align: center;
      line-height: $fs-header-lg;
    }
  }

  &__total {
    flex-grow: 1;
  }

  &__description {
    width: 100%;
    font-family: $ff-base;
  }

  &__title, &__total, &__description {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }
}

.zen-space {
  &.orchid {
    @include glow($color-golden);

    &:after {
      @include brush('brush-golden.svg');
    }
  }
  &.rose {
    @include glow($color-crimson);

    &:after {
      @include brush('brush-crimson.svg');
    }
  }
  &.iris {
    @include glow($color-lavender);

    &:after {
      @include brush('brush-lavender.svg');
    }
  }
  &.lily {
    @include glow($color-crystal);

    &:after {
      @include brush('brush-crystal.svg');
    }
  }
  &.lotus {
    @include glow($color-azure);

    &:after {
      @include brush('brush-azure.svg');
    }
  }
}
