.rz-slider.js-rz-slider
  .rz-slider__next
    %span.glyphicon.glyphicon-menu-right{"aria-hidden" => "true"}
  .rz-slider__prev
    %span.glyphicon.glyphicon-menu-left{"aria-hidden" => "true"}
  - images.each do |image|
    %img.rz-slider__slide{src: "assets/#{image}"}
