=render partial: 'layouts/navbar', locals: {location: 'contact'}
.zen-container
  .zen-map
    #zen_map_main.zen-map__google-map
  .zen-form.js-validate
    =form_tag 'contact/mail', method: 'post', remote: true, id: 'contact_form', class: 'js-validate' do
      =text_field_tag :name, nil, class: 'zen-form__field', placeholder: 'Imię i nazwisko lub nazwa firmy'
      =text_field_tag :email, nil, class: 'zen-form__field', placeholder: 'Email'
      =text_area_tag :message, nil, class: 'zen-form__field', rows: 5, placeholder: 'Treść wiadomości'
      =button_tag 'Dostarcz', type: 'submit', class: 'zen-form__button'
    .row
      %p.disclaimer
        * lorem ipsum
      %p.disclaimer
        ** ipsum lorem
