// Base layout styles
html {
  height: 100%;
}
body {
  top: 0;
  margin: 0;
  height: 100%;
  overflow-x: hidden;

  &.menu-opened {
    overflow: hidden;
  }
}

.zen-container {
  width: 100%;
  height: 100%;
  padding: 0;
  // padding-top: 92px;
  box-sizing: border-box;

  @media #{$sm-up} {
    width: $container-sm;
    margin: 0 auto;
  }

  @media #{$md-up} {
    // padding-top: 71px;
    width: $container-md;
  }

  @media #{$lg-up} {
    width: 100%;
  }
}

.full-width {
  width: 100%;
}

a {
  text-decoration: none;
  color: $color-black;
}

.hidden {
  display: none;
}
