- if local_assigns[:home].present?
  .zen-main-menu.js-menu-expandable
    .rz-toggle
      %span
      %span
      %span
    .zen-main-menu__nav{'data-link' => 'spaces'}
      %img{src: 'assets/icon-spaces.svg'}
      %span powierzchnie
    .zen-main-menu__nav{'data-link' => 'buildings'}
      %img{src: 'assets/icon-buildings.svg'}
      %span inwestycja
    .zen-main-menu__nav{'data-link' => 'history'}
      %img{src: 'assets/icon-hourglass.svg'}
      %span historia
    .zen-main-menu__nav{'data-link' => 'contact'}
      %img{src: 'assets/icon-envelope.svg'}
      %span kontakt
    .zen-main-menu__nav{'data-link' => 'news'}
      %img{src: 'assets/icon-buildings.svg'}
      %span news
- else
  .zen-menu.js-menu-expandable
    .zen-menu__nav
      .rz-toggle
        %span
        %span
        %span
    .zen-menu__nav
      %a{href: '/'}
        %img.home{src: 'assets/logo.png'}
      .label home
    .zen-menu__nav
      %a{href: '/buildings'}
        %img.buildings{src: 'assets/icon-buildings.svg'}
      .label inwestycja
    .zen-menu__nav
      %a{href: '/timeline'}
        %img.timeline{src: 'assets/icon-hourglass.svg'}
      .label historia
    .zen-menu__nav
      %a{href: '#', 'data-modal' => 'contact'}
        %img.contact{src: 'assets/icon-envelope.svg'}
      .label kontakt
